{{#each errors}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Editar Professor:</h3>
<div class="card">
    <div class="card-body">
        <form action="/prof/editprof" method="post">
            <p>Usuário</p>
            <input type="text" name="nome" class="form-control" value="{{prof.nome}}">
            <hr>
            <p>Cpf</p>
            <input type="text" name="cpf" class="form-control" value="{{prof.cpf}}">
            <hr>
            <p>telefone</p>
            <input type="text" name="telefone" class="form-control" value="{{prof.telefone}}">
            <hr>
            <p>Celular</p>
            <input type="text" name="celular" class="form-control" value="{{prof.celular}}">
            <hr>
            <p>sexo</p>
            <input type="text" name="sexo" class="form-control" value="{{prof.sexo}}">
            <hr>
            <p>Data Nascimento</p>
            <input type="date" name="data_nasc" class="form-control" value="{{prof.data_nasc}}">
            <hr>
            <br>
            <button type="submit">Salvar</button>
        </form>
    </div>
</div>
<a href="/prof">Voltar</a>